<!-- myapp/templates/sensor_list.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>Measurement Point</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>event_date</th>
                <th> old_sensor_id</th>
                <th>measurement_pt_id</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement_pt_history in measurement_pt_historys %}
                <tr>
                    <td>{{ measurement_pt_history.0 }}</td>
                    <td>{{ measurement_pt_history.1 }}</td>
                    <td>{{ measurement_pt_history.2 }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No measurement_pt_history available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}
    </body>
</html>