<!-- myapp/templates/mqtt_topic.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>mqtt_topic</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Topic</th>
                <th>created_at</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for mqtt_topic in mqtt_topics %}
                <tr>
                    <td>{{ mqtt_topic.0 }}</td>
                    <td>{{ mqtt_topic.1 }}</td>
                    <td>{{ mqtt_topic.2 }}</td>
                    <td>{{ mqtt_topic.3 }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No mqtt_topics available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}        
</body>
</html>