<!-- myapp/templates/sensor_verification_list.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>sensor_verification List</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>TS</th>
                <th> offset</th>
                <th>  factor</th>
                <th>tag_id</th>
                <th> sensor_id</th>
            </tr>
        </thead>
        <tbody>
            {% for sensor_verification in sensor_verifications %}
                <tr>
                    <td>{{ sensor_verification.0 }}</td>
                    <td>{{ sensor_verification.1 }}</td>
                    <td>{{ sensor_verification.2 }}</td>
                    <td>{{ sensor_verification.3 }}</td>
                    <td>{{ sensor_verification.4 }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No sensor_verifications available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}
</body>
</html>