<!-- myapp/templates/site_list.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>Site List</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th> NAME </th>
                <th> addr_street</th>
                <th>addr_postcode</th>
                <th> addr_city</th>
                <th>geo_xy</th>
                <th> created_at</th>
                <th> site_operator_id</th>
                <th>site_owner_id</th>
                <th> owner_parent_id</th>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.id }}</td>
                    <td>{{ site.name }}</td>
                    <td>{{ site.addr_street }}</td>
                    <td>{{ site.addr_postcode }}</td>
                    <td>{{ site.addr_city }}</td>
                    <td>{{ site.geo_xy }}</td>
                    <td>{{ site.created_at }}</td>
                    <td>{{ site.site_operator_id }}</td>
                    <td>{{ site.site_owner_id }}</td>
                    <td>{{ site.owner_parent_id }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="10">No site available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}        
</body>
</html>