<!-- myapp/templates/sensor_list.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>Measurement Point Sensor</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th> Measurement Point ID</th>
                <th>Sensor ID</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement_pt_sensor in measurement_pt_sensors %}
                <tr>
                    <td>{{ measurement_pt_sensor.id }}</td>
                    <td>{{ measurement_pt_sensor.measurement_pt_id }}</td>
                    <td>{{ measurement_pt_sensor.sensor_id }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No measurement_pt_sensor available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}
</body>
</html>