<!-- myapp/templates/site_contact_list.html -->
{% extends "mymenu.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    {% block content %}  
        <h2>site_contact List</h2>
        <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th> firstname </th>
                <th> lastname</th>
                <th>e_mail</th>
                <th> mobile_phone</th>
                <th>work_phone</th>
                <th> comment</th>
                <th> active</th>
                <th>site_id</th>
                <th> created_at</th>
            </tr>
        </thead>
        <tbody>
            {% for site_contact in site_contacts %}
                <tr>
                    <td>{{ site_contact.id }}</td>
                    <td>{{ site_contact.firstname }}</td>
                    <td>{{ site_contact.lastname }}</td>
                    <td>{{ site_contact.e_mail }}</td>
                    <td>{{ site_contact.mobile_phone }}</td>
                    <td>{{ site_contact.work_phone }}</td>
                    <td>{{ site_contact.comment }}</td>
                    <td>{{ site_contact.active }}</td>
                    <td>{{ site_contact.site_id }}</td>
                    <td>{{ site_contact.created_at }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="10">No site_contact available.</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endblock %}
</body>
</html>